<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="User" asp-action="Index">Admin CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="User" asp-action="Index">Teachers</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Index">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Group" asp-action="Index">Classes</a>
                </li>
            </ul>
            <partial name="_loginPartial" />
        </div>
    </div>
</nav>