@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


<div class="row">
    <div class="col-md-12">
        <h3>Student Management System</h3>
        <h6>
            The Student Management System is a web-based application developed using ASP.NET Core framework, designed to efficiently manage educational activities within an institution. It features three main roles: Admin, Teacher, and Student, each with specific responsibilities tailored to their role.
        </h6>
    </div>
    <br />
    <div class="col-md-6">
        <h4>Admin Responsibilities:</h4>
        <dl>
            <dt>User Management:</dt>
            <dd>Admin can add and manage users including teachers and students.</dd>
            <dt>User Management:</dt>
            <dd>Admin has the authority to create and manage classes.</dd>
            <dt>Assignments:</dt>
            <dd>Assign classes to students, facilitating organization and enrollment.</dd>
            <dt>Result Tracking:</dt>
            <dd>Admin can view and manage student results, providing insights into academic performance.</dd>
        </dl>
    </div>
        <div class="col-md-6">
        <h4>Teacher Responsibilities:</h4>
        <dl>
            <dt>Exam Creation:</dt>
            <dd>Teachers have the privilege to create exams, tailoring assessments to course objectives.</dd>
            <dt>Questionnaire Design:</dt>
            <dd>Teachers can develop questionnaires including multiple-choice questions (MCQs) for exams.</dd>
            <dt>Result Analysis:</dt>
            <dd>Access and analyze exam results, tracking student performance and identifying areas for improvement.</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <h4>Student Responsibilities:</h4>
        <dl>
            <dt>Exam Participation:</dt>
            <dd>Students can participate in exams created by teachers, showcasing their understanding of course material.</dd>
            <dt>Profile Update:</dt>
            <dd>Students have the ability to update their profiles, ensuring accurate personal information.</dd>
            <dt>Result Viewing:</dt>
            <dd>Access exam results to gauge individual performance and progress throughout the course.</dd>
        </dl>
    </div>
</div>